CLIENT_ID=c9cb64b1-2c9f-4738-8b1b-09009a13a6a6
CLIENT_SECRET=wHfdmAVPWbX5VHnX4pZpQ3SKkUJWtH
ISSUER=https://klonidp.localhost
REGISTRY_URL=https://klonregistry.localhost
REDIRECT_URI=https://klonexample.localhost/callback
PORT=8080
